 
.text-theamcolor{
color: tomato;
}


.hero-container{
	background-color: rgb(241, 241, 241);
	padding: 200px;
	text-align: center;
}


.center{
text-align: center;
}

.card-title{
text-align: center;
}
